body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

/* TODO: 16px = 100% = 1em */

h1 {
    font-size: 90px;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-contaner {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-contaner {
    
}

.bottom-contaner {
   
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.hoang-avatar {
    border-radius: 50%;
}
